*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 0.7%;
  left: 1%;
  z-index: 1;
  font-weight: normal;
}
h1 a:hover{
  color: rgb(173, 173, 173);
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: right;
  background-color: rgb(13, 45, 70);
  height: 50px;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 0;
}

nav ul li{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover{
  color: rgb(173, 173, 173);
}

@media screen and (max-width: 600px) {
  nav ul{
    flex-direction: column;
    height: auto;
    display: inline-block;
    position: absolute;
    top: 8%;
    z-index: 0;
    background-color:rgb(13, 45, 70);
  }

  h1 a{
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
  padding-left: 1.3%;
  padding-top: 1%;
  font-weight: normal;
  background-color: rgb(22, 70, 115);
  height: 50px;
  width: 100%;
}

h1 a::after{
  content: "Menu";
  position: absolute;
  right: 1%;

}

}