*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: linear-gradient(to bottom right, #5b2a86, #8a1c7c);
  font-family: Arial, sans-serif;
}
div .container{
  width: 90%;
  height: 560px;
  margin: auto;
  background-image: url(background.jpg);
  background-size: cover;
  border-radius: 5px;
}

.container h1{
  text-align: center;
  margin: 20px;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div .container .regi{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.container .regi .register{
  background-color: rgb(8, 8, 8, 0.7);
  width: 50%;
  height: 455px;
}

.container .regi .login{
  background-color: rgb(8, 8, 8, 0.7);
  width: 47%;
  height: 350px;
}

.container .regi h2{
  color: rgb(56, 160, 173);
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.container .regi #name,
.container .regi #email,
.container .regi #Pass,
.container .regi #Con{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  background-color: rgb(129, 126, 126, 0.5);
  height: 35px;
  width: 90%;
  color: white;
  text-indent: 10px;
  border: none;
  border-radius: 3px;
}

.container .regi #female,
.container .regi #male{
  margin-left: 30px;
}

.container .regi #female1,
.container .regi #male1{
  color: rgba(255, 255, 255, 0.74);
}


.container .regi p{
  margin-left: 30px;
  color: rgba(255, 255, 255, 0.74);
  margin-bottom: 0;
}

::placeholder{
  color: rgba(255, 255, 255, 0.527);
}

.container .regi #checkbox{
  margin-left: 30px;
  margin-top: 20px;
}

.container .regi #checkbox1{
  color: rgba(255, 255, 255, 0.74);
}

.container .regi .center-btn{
  display: block;
  margin: 0 auto;
  width: 89.5%;
  height: 35px;
  color: white;
  background-color: orange;
  border: none;
  font-weight: bold;
}

.container .regi .center-btn1{
  display: block;
  margin: 0 auto;
  width: 89.5%;
  height: 35px;
  color: white;
  background-color: orange;
  border: none;
  margin-top: 70px;
  font-weight: bold;
}


