*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 100px;
  background-color: #545487;
  text-align: center;
}

.menu{
  width: 100%;
  height: 50px;
  background-color: #879887;
}

.left{
  width: 20%;
  height: 500px;
  background-color: #AA5455;
  float: left;
}

.content{
  width: 60%;
  height: 500px;
  background-color: #00AAFF;
  float: left;
}

.right{
  width: 20%;
  height: 500px;
  background: #8778FF;
  float: left;
}

.footer{
  width: 100%;
  height: 60px;
  background-color: #878787;
  clear: both;
}