* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1 {
  text-align: center;
}

.header {
  width: 100%;
  height: 15vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  height: 70vh;
  background-color: white;
  float: left;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 20%;
  height: 70vh;
  background-color: yellow;
  float: left;
  margin-left: -80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 20%;
  height: 70vh;
  background-color: limegreen;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 15vh;
  background-color: cyan;
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    height: 35vh;
    float: none;
    margin-left: 0;
  }

  .left {
    width: 50%;
    height: 35vh;
    float: left;
    margin-left: 0;
  }

  .right {
    width: 50%;
    height: 35vh;
    float: left;
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
    height: 23.33vh;
    float: none;
    margin-left: 0;
  }

  .left {
    width: 100%;
    height: 23.33vh;
    float: none;
    margin-left: 0;
  }

  .right {
    width: 100%;
    height: 23.34vh;
    float: none;
  }
}