*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
}

.header{
  width: 100%;
  height: 15vh;
  background-color: red;
}

.left{
  width: 20%;
  height: 70vh;
  background-color: yellow;
  float: left;
}

.main{
  width: 60%;
  height: 70vh;
  background-color: white;
  float: left;
}

.right{
  width: 20%;
  height: 70vh;
  background-color: limegreen;
  float: left;
}

.footer{
  width: 100%;
  height: 15vh;
  background-color: cyan;
  clear: both;
}

@media (max-width: 600px) {

  .left,
  .main,
  .right {
    width: 100%;
    height: 70vh;
    float: none;
  }

}


@media (min-width: 601px) and (max-width: 992px) {

  .main {
    width: 100%;
    float: none;
  }

  .left,
  .right {
    width: 50%;
  }

}

