* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.header, .footer {
  width: 100%;
  height: 10vh;
  background: #33ff33;
  border: 5px solid #fff;
  text-align: center;
  line-height: 10vh;
  font-weight: bold;
}

.middle {
  width: 100%;
  height: 80vh;
}

.sidebar {
  width: 20%;
  height: 100%;
  float: left;
  background: #33ff33;
  border: 5px solid #fff;
  text-align: center;
  line-height: 80vh;
  font-weight: bold;
}

.content {
  width: 80%;
  height: 100%;
  float: left;
}

.content1 {
  width: 100%;
  height: 40%;
  background: #33ff33;
  border: 5px solid #fff;
  text-align: center;
  line-height: 32vh;
  font-weight: bold;
}

.content2, .content3 {
  width: 50%;
  height: 60%;
  float: left;
  background: #33ff33;
  border: 5px solid #fff;
  text-align: center;
  line-height: 48vh;
  font-weight: bold;
}
