*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(34, 35, 46);
  font-family: 'Arial', sans-serif;
}
.container{
  width: 45%;
  height: 110vh;
  margin: auto;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container form fieldset span{
  color: red;
}

.container img{
  margin-top: 30px;
  margin-left: 25px;
  height: 55px;
  width: auto;
  float: left;
}

.container .h1{
  margin-top: 45px;
  margin-left: 25px;
  font-family: 'Arial', sans-serif;
  font-size: 20px;
  float: left;
}

.container .reg{
  clear: both;
  margin-left: 25px;
  padding-top: 50px;
}

form fieldset .name{
  display: flex;
  justify-content: space-between;
  margin: 30px 25px 20px 25px;
}

form fieldset .name input{
  border: 1px solid rgb(158, 156, 156);
  border-radius: 2px;
  padding: 10px;
}

form fieldset .name input[type="text"]{
  margin-top: 10px;
  width: 200px;
  height: 30px;
}

form fieldset .name input[type="date"]{
  margin-top: 10px;
  width: 200px;
  height: 30px;
}
form fieldset .contain3 input[type="radio"]{
  margin-top: 10px;
  margin-right: 5px;
}

form fieldset .contain3{
  display: flex;
  margin: 30px 0px 20px 25px;
}

form fieldset .contain3 .email{
  margin-left: 20px;
}


form fieldset .contain3 .email input[type="email"]{
  margin-top: 10px;
  width: 410px;
  height: 30px;
}

form fieldset .name input[type="number"]{
  margin-top: 10px;
  width: 200px;
  height: 30px;
}

.container form fieldset label{
  font-weight: bold;
}

form fieldset .buttons{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

form fieldset .buttons button{
  margin-left: 25px;
  padding: 8px 10px 8px 10px;
  font-size: large;
  color: rgb(0, 102, 255);
  border: 1px solid rgb(0, 102, 255);
  cursor: pointer;
}

form fieldset .buttons button:hover{
  background-color: rgb(0, 102, 255);
  color: white;
}

form fieldset .buttons input[type="submit"]{
  margin-right: 25px;
  padding: 0 15px 0 15px;
  font-size: large;
  background-color: rgb(0, 102, 255);
  color: white;
  border: none;
  cursor: pointer;
}

form fieldset .buttons input[type="submit"]:hover{
  background-color: rgb(1, 83, 207);
}
